@import 'reset';

$bg-col: #AAA;
$main-col: #555;
$main-font-col: white;
$second-font-col: black;

/* Navigation bar */
.nav-bar {
	background-color: $bg-col;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	a {
		float: left;
		color: $main-font-col;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		&:hover {
			background-color: $main-col;
			color: $second-font-col;
		}
		.active {
			background-color: $main-col;
			color: $main-font-col;
		}
	}
}

/* Main Content */
.container {
	width: 80%;
	min-height: 100%;
	margin: 50px auto 0 auto;
}

.top-section {
	width: 100%;
	background-color: $main-col;
	padding: 20px;
	margin: 0;
}

.register button {
	display: inline;
	color: $main-font-col;
	background: $bg-col;
	padding: 10px 20px;
	border: 4px solid $main-font-col;
	border-radius: 6px;
	display: inline-block;
	&:hover {
		display: inline;
		color: $main-font-col;
		text-transform: upppercase;
		background: #f6b93b;
		border-color: #f6b93b;
		transition: all 0.4s ease 0s;
	}

}

#register-button {
	display: inline;
	background: #494949;
	color: #ffffff;
}

#login-button {
	display: inline;
}

/* footer */

.footer {
	background-color: $bg-col;
	text-align: center;
	width: 100%;
	height: 60px;
	left: 0;
	bottom: 0;
	padding: 10px 0;
}
