extends layout

block content
	div.sidebar
		ol
		- for(let course_elem of CourseElems) {
			li=course_elem
		- }
	div.main-content
		h2=Lecture.name
		div.lecture-content=Lecture.content
		a(href="/course/lecture/"+CourseInfo.id+"/"+(Lecture.order+1))="Next"
		a(href="/course/lecture/"+CourseInfo.id+"/"+(Lecture.order-1))="Back"
			
block scripts_styles
	script(src="/scripts/audiosynth.js")
	script(src="/scripts/midi_play.js")
	script(src="/scripts/midi_read.js")
