extends layout

block content
	div#solfege
	div#piano

block scripts_styles
	meta(charset="utf-8")
	script(src="/scripts/audiosynth.js")
	script(src="/scripts/midi_play.js")
	script(src="/scripts/midi_read.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js")
	script(src="/scripts/solfege.js" charset="utf-8")
	script(src="/scripts/piano.js" charset="utf-8")
	script(src="/scripts/practice.js" charset="utf-8")
	
