extends layout

block content
	div.top-section
		h1 not logged
		p.
			welcome to our website
		- if(logged) {
			p.
				nothing
		- } else {
			div.register
				button#register-button SIGN UP
				b OR
				button#login-button SIGN IN
		- }
	div.courses-section
		
