extends layout

block content
	div.top-section
		h1 not logged
		p.
			welcome to our website
		- if(logged) {
			p.
				nothing
		- } else {
			div.register
				form(action="/signup")
					button#register-button SIGN UP
				OR
				form(action="/login")
					button#login-button SIGN IN
		- }
	div.courses-section
		
