doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		block scripts_styles
	body
		div.nav-bar#nav-top
			a(href='/') Home
			- if(logged) {
			form(method='POST', action='/user/logout').logout
				input(type='submit', value='Log out')
			- }
		div.container
			block content
		
		div.footer.
			Learn piano | UCP
