extends layout

block content
	.container
		.row
			h1.display-4.m-b-2 Sign In
			form(method='POST' action='/login/conn')
				div.form-group
					input.form-control(type='text' id='email' placeholder='Email' name='email')
				div.form-group
					input.form-control(type='password' id='password' placeholder='Password' name='password')
				input.btn.btn-primary(type='submit', value='Login') 
				- if(errors) {
					ul
					- for(error of errors) {
						li=error.msg
					- }
				- }
block scripts_styles
	link(rel='stylesheet', href='/stylesheets/login_style.css')
